body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* .container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
} */
input {
  font-family: inherit;
  outline: none;
}
button {
  font-family: inherit;
  padding: 0;
  border: none;
}
/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo-cell {
  display: none;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-shift {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current {
  position: relative;
  color: #404bbf;
}
.menu-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.menu-link:hover,
.contacts-items-link:hover {
  color: #404bbf;
}
.menu-link:focus,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion header */

/* #region hero */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-hero {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}
.button-hero:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
/* #endregion hero */

/* #region features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.features-items {
  width: calc((1128px - 72px) / 4);
  flex-shrink: 0;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  text-align: left;
}
/* #endregion features */

/* #region team */
.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.team-items {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-items-text {
  background-color: #fff;
  padding: 32px 0;
}
.team-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-post {
  text-align: center;
  margin-bottom: 8px;
}
.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.list-icons {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  fill: #f4f4fd;
}
/* #endregion team */

/* #region portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}
.portfolio-items {
  flex-basis: calc((100% - 48px) / 3);
  flex-shrink: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.portfolio-items-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-top: none;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-post {
  text-align: center;
}
.box {
  position: relative;
  overflow: hidden;
}

.text-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  text-align: left;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .text-box {
  transform: translateY(0);
}

/* #endregion portfolio */

/* #region footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-part {
  margin-right: 120px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo.shift {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.social-title,
.form-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.icons-items {
  width: 40px;
  height: 40px;
}
.items-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items-link:hover,
.items-link:focus {
  background-color: #31d0aa;
}
.footer-social-icons {
  fill: #f4f4fd;
}

.form-footer {
  display: flex;
  gap: 24px;
}
.form-input {
  padding: 8px 0 8px 16px;
  background-color: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}
.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border: 1px solid #4d5ae5;
  cursor: pointer;
}
.icons-footer {
  fill: #fff;
  margin-left: 16px;
}

/* #endregion footer */

/* #region modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-container {
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  max-width: 480px;
  min-height: 584px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closed-box {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-closed {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closed-box:hover,
.closed-box:focus {
  background-color: #404bbf;
  border: none;
}

.closed-box:hover .icon-closed,
.closed-box:focus .icon-closed {
  fill: #fff;
}

.modal-text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.input-container {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: #8e8f99;
}
.modal-box {
  display: flex;
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  display: block;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover {
  border: 1px solid #4d5ae5;
}
.modal-input:hover + .modal-icon {
  fill: #4d5ae5;
}
.modal-input:focus-within {
  border: 1px solid #4d5ae5;
}
.modal-input:focus-within + .modal-icon {
  fill: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}
.comment-text {
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-text:hover,
.comment-text:focus {
  border-color: #4d5ae5;
}

/* checked */

.check-box {
  margin-bottom: 24px;
}
.checkbox {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check {
  fill: #2e2f42;
}
.checkbox-input:checked + .check-label > .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.selected-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.modal-button {
  display: block;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  padding-top: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

/* #endregion modal */

/* #region mobile */

@media screen and (min-width: 320px) {
  /* .container-cell{
    width: 300px;
    padding: 0 16px;
  } */
  /* #region header-cell */
  .header-container {
    display: none;
  }
  .container-cell-nav {
    position: relative;
    padding: 16px;
  }
  .menu-burger {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    z-index: 1000;
    text-align: start;
    display: block;
    padding: 56px 0;
  }
  .menu-burger .is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .closed-cell-box {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-cell-closed {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .closed-cell-box:focus {
    background-color: #404bbf;
    border: none;
  }
  .closed-cell-box:focus .icon-cell-closed {
    fill: #fff;
  }

  .closed-cell-box {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .icon-cell-closed {
    fill: #2e2f42;
  }
  .cell-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }
  .cell-link {
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
  }
  .cell-nav {
    margin-bottom: 168px;
  }
  .contacts-cell {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
  }
  .contacts-cell {
    margin-bottom: 48px;
  }
  .menu-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }
  .header-cell-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .logo-cell {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .header-logo {
    margin-right: 0;
  }
  .button-menu {
    background-color: #fff;
    block-size: 24px;
  }
  /* #endregion header-cell */
  /* #region hero-cell */
  .section {
    padding: 96px 0;
  }

  .hero-cell {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/cell/people-office@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
  }
  @media (min-resolution: 192dpi) {
    .hero-cell {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/cell/people-office@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .title-cell {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .button-hero {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-hero:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
  }
  /* #endregion hero-cell */
  /*  #region features-cell */

  .features-icons {
    display: none;
  }
  .features-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
  }
  .features-items {
    text-align: center;
  }
  .features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
    font-weight: 500;
  }

  /*  #endregion features-cell */

  /*  #region team-cell */
  .team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
  }
  /*  #region portfolio-cell */

  .portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0;
    padding: 0;
  }
  .portfolio-items-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
  }
  .portfolio-items:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }
  .portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .portfolio-post {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
  .box {
    position: relative;
    overflow: hidden;
  }

  .text-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-items:hover .text-box {
    transform: translateY(0);
  }

  /* #endregion portfolio-cell */
  /* #region footer-cell */
  .footer {
    padding: 96px 0;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
  }

  .footer-part,
  .footer-social {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .footer-logo {
    block-size: 24px;
    text-align: center;
  }

  .social-title,
  .form-title {
    text-align: center;
  }

  .footer-list {
    margin-left: 40px;
  }

  .form-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form-input {
    width: 288px;
  }
  .form-button {
    width: 165px;
    margin: 0 auto;
  }
  /* #endregion footer-cell */
  /* #region modal-cell */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-container {
    width: 288px;
    height: 100%;
  }

  /* #endregion  modal */
}

/* #endregion mobile */
/* #region tablet */
   
@media screen and (min-width: 768px) {

  .section {
    padding: 96px 0;
  }
    /* #region header-tablet */
  .header-container,
  .container-cell {
    display: none;
  }
  .header-container-tablet {
    display: flex;
    align-items: center;
  }
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  .contacts-tablet,
  .menu-tablet {
    display: flex;
  }
  .header-logo-tablet {
    display: block;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-right: 120px;
  }
  .header-logo-shift {
    color: #2e2f42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 116%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .menu-tablet {
    display: flex;
    gap: 40px;
    color: #404bbf;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .menu-link-tablet,
  .menu-link-tablet-active {
    color: #2e2f42;
  }
  .navbar {
    margin-right: 120px;
  }
  .contacts-tablet-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .contacts-tablet-link {
    color: #434455;
    letter-spacing: 0.48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .menu-link-tablet.current {
    position: relative;
  }
  .menu-link-tablet.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -38px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
   /* #endregion header-tablet */
  
   /* #region  hero-tablet */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg@1x.jpg);
    background-repeat: no-repeat;
    background-color: #2e2f42b2;
    background-position: center;
    background-size: cover;
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/dark-bg@2x.jpg);
      background-repeat: no-repeat;
      background-color: #2e2f42b2;
      background-position: center;
      background-size: cover;
    }
  
  .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
  .button-hero {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
  }

   /* #endregion hero-tablet */

   /* #region features */
  
  .features-list {
    display: flex;
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features-items {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
  .features-title {
    display: block;
    text-align: left;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }

  .features-text {
    font-weight: 500;
  }

  /* #endregion features-tablet */

   /* #region team-tablet */
 
  .team {
    background-color: #f4f4fd;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
   /* #endregion team-tablet */

    /* #region portfolio-tablet */

  .portfolio-title {
      font-weight: 700;
      font-size: 36px; 
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .portfolio-items {
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
 
     /* #endregion portfolio-tablet */

     /* #region footer-tablet */
  .container-footer {
    display: flex;
    padding: 0 108px;
  }
  .footer {
    padding: 96px 0;
  }
  
  .footer-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .footer-text {
    width: 264px;
    color: #f4f4fd
  }
  .footer-social {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .footer-part-tablet{
    display: flex;
    gap: 24px;
  }
  .footer-list{
    margin: 0;
  }
  .form-subscribe {
    display: flex;
    flex-direction: column;
  }
  .social-title,
  .form-title-footer {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
  }
  .text-footer {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .form-button {
    margin-top: 0;
    margin-bottom: 0;
  }
  .subs-text {
    text-align: left;
    display: inline-block;
  }

  .modal-overlay {
    background-color: #2e2f4266;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-title {
    width: 360px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-top: 0;
    padding-top: 0;
  }
  .close-button {
    position: absolute;
    top: 24px;
    left: 85%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    padding: 0;
  }
  .section-first {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .modal-form {
    top: 40%;
    width: 408px;
  }
  .modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .responsive-image {
    max-width: 356px;
  }



}

  




